RenderGraphNodeView {
    width: 300px;
}

RenderGraphNodeView #previewFiller,
RenderGraphNodeView #controls {
    background-color: rgba(63, 63, 63, 0.6);
}

RenderGraphNodeView #controls > #items {
    padding-top: 4px;
    padding-bottom: 4px;
}